<div
  class="px-1 lg:px-5 lg:mx-5 lg:my-4 lg:py-1 content bg-white ticket-container">
  <div class="title-page pb-2 flex justify-between items-center">
    <div class="flex">
      <h5 class="">{{ title }}</h5>
      <app-voucher-info-header
        [entity]="entity"
        [voucherId]="data.masterInfo.stt_rec || ''"
      />
    </div>
    <app-navigation-voucher
      [mode]="this.mode"
      [voucherId]="this.data.masterInfo.stt_rec || ''"
    />
  </div>
  <form action="" [formGroup]="voucherForm" #form (ngSubmit)="onSubmit()">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-3 pb-2">
      <div class="flex gap-2">
        <app-input-custom-v2
          #so_ct
          [label]="getLabel('lbl_so_ct')"
          class="flex-1"
          name="so_ct"
          [disabled]="true || disabled"
          [dataFormatString]="'upperCaseFormat'"
          type="text"
          [value]="f['so_ct'].value"
          (handleChange)="handleInputChange('so_ct', $event)"
          (handleEnter)="onEnter($event)"
          [lookup]="false"
          [reference]="[so_ct]"></app-input-custom-v2>
        <app-input-custom-v2
          [label]="getLabel('lbl_ngay_ct')"
          class="flex-1"
          type="date"
          name="ngay_lct"
          [dataFormatString]="'datetimeFormat'"
          [value]="f['ngay_lct'].value"
          [disabled]="true || disabled"
          (handleChange)="handleInputChange('ngay_lct', $event)"
          (handleEnter)="onEnter($event)"></app-input-custom-v2>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_cuahang')"
            #ma_cuahang
            name="ma_cuahang"
            (handleEnter)="onEnter($event)"
            (handleChange)="handleInputChange('ma_cuahang', $event)"
            [control]="shopService"
            [lookup]="true"
            [value]="f['ma_cuahang'].value"
            [invalid]="submitted && f['ma_cuahang'].errors != null"
            dataFormatString="upperCaseFormat"
            [disabled]="true || disabled"
            [reference]="[ma_cuahang, ten_cuahang]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_cuahang')"
            #ten_cuahang
            name="ten_cuahang"
            [value]="this.data.masterInfo['ten_cuahang']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <!-- <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="'Mã giao dịch'"
            #ma_gd
            name="ma_gd"
            [value]="f['ma_gd'].value"
            [disabled]="disabled"
            [invalid]="submitted && f['ma_gd'].errors != null"
            (handleEnter)="onEnter($event)"
            (handleChange)="handleInputChange('ma_gd', $event)"
            [control]="transactionService"
            [lookup]="true"
            [reference]="[ma_gd, ten_gd]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="'Tên giao dịch'"
            #ten_gd
            [value]="this.data.masterInfo['ten_gd']"
            name="ten_gd"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div> -->
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_tt')"
            #ma_tt
            name="ma_tt"
            [disabled]="true || disabled"
            [value]="f['ma_tt'].value"
            (handleChange)="handleInputChange('ma_tt', $event)"
            (handleEnter)="onEnter($event)"
            [control]="paymentService"
            [invalid]="submitted && f['ma_tt'].errors != null"
            [lookup]="true"
            [reference]="[ma_tt, ten_tt]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_tt')"
            [value]="this.data.masterInfo['ten_tt']"
            #ten_tt
            name="ten_tt"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>

      <div class="flex gap-2">
        <select-custom
          class="flex-1"
          [label]="getLabel('lbl_trang_thai')"
          [options]="statusList"
          optionDes="statusname"
          optionValue="status"
          [isDisable]="disabled"
          [value]="data.masterInfo.status"
          (handleChangeValue)="onStatusChange($event)"
        />

        <app-input-custom-v2
          [label]="getLabel('lbl_ngay_nhap_kho')"
          class="flex-1"
          type="date"
          name="ngay_ct"
          [dataFormatString]="'datetimeFormat'"
          [value]="f['ngay_ct'].value"
          [disabled]="true || disabled"
          (handleChange)="handleInputChange('ngay_ct', $event)"
          (handleEnter)="onEnter($event)"></app-input-custom-v2>
      </div>

      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_ncc')"
            #ma_kh
            name="ma_kh"
            [disabled]="true || disabled"
            [value]="f['ma_kh'].value"
            [invalid]="submitted && f['ma_kh'].errors != null"
            (handleChange)="handleInputChange('ma_kh', $event)"
            (handleEnter)="onEnter($event)"
            [control]="customerService"
            [lookup]="true || disabled"
            [reference]="[ma_kh, ten_ncc]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_ncc')"
            #ten_ncc
            name="ten_kh"
            [value]="this.data.masterInfo['ten_kh']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex-1">
          <app-input-custom-v2
            #so_ct0
            [label]="getLabel('lbl_so_ct0')"
            class="flex-1"
            name="so_ct0"
            [disabled]="true || disabled"
            [dataFormatString]="'upperCaseFormat'"
            type="text"
            [value]="extend.so_ct0?.trim()"
            (handleChange)="extend.so_ct0 = $event"
            (handleEnter)="onEnter($event)"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            [label]="getLabel('lbl_ngay_ct0')"
            class="flex-1"
            type="date"
            name="ngay_ct0"
            type="date"
            [value]="extend.ngay_ct0"
            [dataFormatString]="'datetimeFormat'"
            (handleChange)="extend.ngay_ct0 = $event"
            (handleEnter)="onEnter($event)"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_vt')"
            #ma_vt
            name="ma_vt"
            [disabled]="disabled"
            [value]="f['item_code'].value"
            (handleEnter)="onEnter($event)"
            (handleChange)="handleInputChange('item_code', $event)"
            [control]="itemService"
            [lookup]="true"
            [reference]="[ma_vt, ten_vt]"></app-input-custom-v2>
        </div>
        <div class="flex flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_vt')"
            #ten_vt
            name="ten_vt"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2 flex-md-row flex-column">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_kho')"
            #ma_kho
            name="ma_kho"
            [disabled]="disabled"
            [value]="f['site_code'].value"
            (handleChange)="handleInputChange('site_code', $event)"
            (handleEnter)="onEnter($event)"
            [control]="stockService"
            [lookup]="true"
            [reference]="[ma_kho]"></app-input-custom-v2>
        </div>
        <div class="flex flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_imei')"
            name="imei"
            [value]="imei"
            [disabled]="disabled"
            [codeScanner]="true"
            type="text"
            (handleChange)="this.imei = $event"
            (handleFocus)="handleFocus($event)"
            (handleScanner)="scanORCode($event)"
            (handleEnter)="onEnterIMEI($event)"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <app-input-custom-v2
          [label]="getLabel('lbl_dien_giai')"
          class="flex-1"
          #input2
          [disabled]="disabled"
          (handleEnter)="onEnter($event)"
          name="ten_kh"
          (handleChange)="handleInputChange('dien_giai', $event)"
          [value]="f['dien_giai'].value"
          [invalid]="
            submitted && f['dien_giai'].errors != null
          "></app-input-custom-v2>
      </div>
    </div>
    <tabs-custom>
      <tab-custom label="Chi tiết" class="h-96 w-full">
        <app-grid-v2
          [fields]="fields"
          [dataSource]="dataSource"
          [isLockingColumn]="isLockingColumn"
          [gridType]="gridType"
          [buttons]="buttons"
          [disabled]="disabled"
          (handlePaging)="onPageChange($event)"
          (handleSelectColumn)="onSelectColumn($event)"
          (handleSortColumn)="onSortColumn($event)"
          (handleSearch)="onSearch()"
          (handleButton)="clickButton($event)"
          (handleChangeRow)="changeRow($event)"
          class="h-full w-full">
        </app-grid-v2>
      </tab-custom>
      <tab-custom label="Thuế đầu vào" class="h-80 w-full">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-0 md:px-2 gap-x-10 gap-y-3 pb-2">
          <div class="flex gap-2">
            <app-input-custom-v2
            #so_ct0
            [label]="getLabel('lbl_so_ct0')"
            class="flex-1"
            name="so_ct0"
            [disabled]="true || disabled"
            [dataFormatString]="'upperCaseFormat'"
            type="text"
            [value]="extend.so_ct0?.trim()"
            (handleChange)="extend.so_ct0 = $event"
            (handleEnter)="onEnter($event)"></app-input-custom-v2>
          </div>
          <div class="flex gap-2">
            <app-input-custom-v2
              #so_seri0
              [label]="getLabel('lbl_so_seri0')"
              class="flex-1"
              name="so_seri0"
              [disabled]="true || disabled"
              [dataFormatString]="'upperCaseFormat'"
              type="text"
              [value]="extend.so_seri0?.trim()"
              (handleChange)="extend.so_seri0 = $event"
              (handleEnter)="onEnter($event)"></app-input-custom-v2>
          </div>
          <div class="flex gap-2">
            <app-input-custom-v2
            [label]="getLabel('lbl_ngay_ct0')"
            class="flex-1"
            type="date"
            name="ngay_ct0"
            type="date"
            [value]="extend.ngay_ct0"
            [dataFormatString]="'datetimeFormat'"
            (handleChange)="extend.ngay_ct0 = $event"
            (handleEnter)="onEnter($event)"
            [disabled]="true || disabled"></app-input-custom-v2>
          </div>
          <div class="flex gap-2">
            <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_so_thue')"
            #ma_so_thue0
            name="ma_so_thue"
            [disabled]="true || disabled"
            [value]="extend.ma_so_thue?.trim()"
            (handleChange)="
              extend.ma_so_thue = $event; handleChangeTaxCode($event)
            "
            (handleEnter)="onEnter($event)"></app-input-custom-v2>
          </div>
          <div class="flex-1 col-span-full md:col-span-2">
            <app-input-custom-v2
              class="flex-1"
              [label]="getLabel('lbl_ten_ncc')"
              #ten_ncc0
              name="ten_kh"
              [value]="extend.ten_kh"
              (handleChange)="extend.ten_kh = $event"
              [disabled]="true || disabled"></app-input-custom-v2>
          </div>
          <div class="flex-1 col-span-full md:col-span-3">
            <app-input-custom-v2
              class="flex-1"
              [label]="getLabel('lbl_dia_chi')"
              #dia_chi0
              name="dia_chi"
              [disabled]="disabled"
              (handleEnter)="onEnter($event)"
              (handleChange)="extend.dia_chi = $event"
              [value]="extend.dia_chi"></app-input-custom-v2>
          </div>
          <div class="flex-1 col-span-full md:col-span-3">
            <app-input-custom-v2
              [label]="getLabel('lbl_noi_dung')"
              class="flex-1"
              #ten_vt0
              [disabled]="disabled"
              (handleEnter)="onEnter($event)"
              name="ten_vt"
              (handleChange)="extend.ten_vt = $event"
              [value]="extend.ten_vt"></app-input-custom-v2>
          </div>
        </div>
      </tab-custom>
    </tabs-custom>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-x-1 lg:gap-x-10 gap-y-1 lg:gap-y-3">
      <!-- <div class="hidden lg:flex"></div> -->
      <div class="flex">
        <app-input-custom-v2
          [label]="getLabel('lbl_chiet_khau_truoc_vat')"
          class="flex-1 discount-wrap"
          name="t_ck_nt"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_ck_nt"
          (handleEnter)="onEnterDiscount($event)"
          (handleChange)="onDiscountChange($event);"
        ></app-input-custom-v2>
      </div>
      <div class="flex">
        <app-input-custom-v2
          [label]="getLabel('lbl_chiet_khau_thue_suat')"
          class="flex-1 discount-wrap"
          name="s4"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.s4"
          (handleEnter)="onEnterTaxRate($event)"
          (handleChange)="onTaxRateChange($event);"
          ></app-input-custom-v2>
      </div>
      <div class="flex">
        <app-input-custom-v2
          [label]="'Tổng số lượng'"
          class="flex-1"
          name="t_so_luong"
          [disabled]="true || disabled"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_so_luong"></app-input-custom-v2>
      </div>
      <div class="flex">
        <app-input-custom-v2
          [label]="getLabel('lbl_t_tien')"
          class="flex-1"
          name="t_tien_nt"
          [disabled]="true || disabled"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_tien_nt"></app-input-custom-v2>
      </div>
      <div class="flex">
        <app-input-custom-v2
          [label]="getLabel('lbl_t_thue')"
          class="flex-1"
          name="t_thue_nt"
          [disabled]="true || disabled"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_thue_nt"></app-input-custom-v2>
      </div>
      <div class="flex">
        <app-input-custom-v2
          [label]="getLabel('lbl_t_tt')"
          class="flex-1"
          name="t_tt_nt"
          [disabled]="true || disabled"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_tt_nt"></app-input-custom-v2>
      </div>
    </div>
    <!-- <div class="flex mt-2 flex-col">
      <div class="flex flex-1">
        <div class="flex basis-2/5"></div>
        <div class="flex flex-1">
          <div class="flex basis-1/3">Tổng số lượng</div>
          <div class="flex basis-1/3">
            <app-input
              name="ten_kh"
              type="number"
              [align]="'right'"
              dataFormatString="quantityViewFormat"
              [value]="f['t_so_luong'].value"
              [readonly]="true"></app-input>
          </div>
        </div>
        <div class="flex basis-1/3"></div>
      </div>
    </div> -->
    <div class="pb-4 border-b-0.5 border-solid border-gray-300"></div>
    <div class="px-4 py-2 flex flex-1 justify-end">
      <div class="flex w-100 justify-content-between gap-2 m-3">
        <app-navigation-voucher
          [mode]="this.mode"
          [voucherId]="this.data.masterInfo.stt_rec || ''"
        />
        <div class="d-flex gap-2 ms-auto">
          <!-- <app-voucher-info
            *ngIf="this.mode != 0"
            [entity]="entity"
            class="text-base"
            [voucherId]="data.masterInfo.stt_rec || ''" /> -->
          <button
            *ngIf="this.submitButtonTitle !== '' && !readonly"
            #btnSubmit
            type="button"
            (click)="!disabled && onSubmit()"
            [disabled]="disabled && isDisabled"
            class="submit px-4 py-1 text-white rounded min-w-button min-h-button bg-primary02_color hover:bg-primary01_color flex items-center justify-center border-0.5 border-solid border-gray-300">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"></span>
            {{ submitButtonTitle }}
          </button>
          <button
            (click)="onCancel()"
            form=""
            class="px-4 ml-2 rounded min-w-button min-h-button bg-neutrals08_color hover:bg-slate-200 py-1 flex items-center justify-center border-0.5 border-solid border-gray-300">
            {{ cancelButtonTitle }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
