<div
  class="px-1 md:px-2 lg:px-4 flex-1 bg-white position-relative ticket-container">
  <div class="d-flex flex-column gap-2 mt-5 flex-1">
    <div class="title-page pb-2 flex justify-between items-center">
      <h5 class="">{{ title }}</h5>
      <app-voucher-info
        *ngIf="this.mode != 0"
        [entity]="entity"
        class="text-base"
        [voucherId]="ticket.masterInfo.stt_rec" />
    </div>
    <div class="title-content">{{ getLabel('tlt_content') }}</div>
    <div class="box-container mb-3">
      <form-input-custom
        class="box order-dynamic-1"
        [name]="'so_ct'"
        [label]="getLabel('lbl_so_ct')"
        [value]="ticket.masterInfo.so_ct"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ma_kh'"
        [label]="getLabel('lbl_ma_kh')"
        [value]="ticket.masterInfo.ma_kh"
        [tabIndex]="tabIndex.ma_kh"
        [invalid]="invalid"
        [disabled]="readonly"
        [readonly]="readonly"
        (handleChangeValue)="onEnterCustomerCode($event)"
        (handleClickOpenDialog)="openSearchCustomerDialog()"
        (handleUploadImage)="openUploadImage()"
        (handleUViewPhoto)="openImage()" />

      <form-input-custom
        class="box order-dynamic-1"
        [name]="'ngay_ct'"
        [label]="getLabel('lbl_ngay_ct')"
        [value]="ticket.masterInfo.ngay_ct"
        format="datetimeFormat"
        dataType="date"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ten_kh'"
        [label]="getLabel('lbl_ten_kh')"
        [value]="ticket.masterInfo.ten_kh"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'dia_chi'"
        [label]="getLabel('lbl_dia_chi')"
        [value]="ticket.masterInfo.dia_chi"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ghi_chu'"
        [label]="getLabel('lbl_ghi_chu')"
        [value]="ticket.masterInfo.dien_giai"
        (handleChangeValue)="ticket.masterInfo.dien_giai = $event"
        [disabled]="readonly" />

      <form-select-custom
        class="box order-dynamic-1 width-full"
        [isDisable]="readonly || disableSelectStatus"
        [label]="getLabel('lbl_trang_thai')"
        [options]="statusList"
        optionDes="statusname"
        optionValue="status"
        [value]="ticket.masterInfo.status"
        (handleChangeValue)="ticket.masterInfo.status = $event" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'imei'"
        [label]="getLabel('lbl_imei')"
        [tabIndex]="tabIndex.imei"
        [disabled]="readonly"
        *ngIf="!readonly"
        (handleEnterInput)="onEnterImeiCode($event)"
        (handleClickCodeScanner)="onClickCodeScanner()"
        [uploadImage]="true" />

      <div class="d-flex box align-items-end gap-3 mt-3 align-self-end">
        <button
          *ngIf="!readonly"
          class="flex-1 btn act-input-data-btn text-nowrap"
          (click)="openInvoiceByCustomerDialog()">
          {{ getLabel('lbl_loc_hoa_don') }}
        </button>
      </div>
    </div>

    <tabs-custom title="Thông tin hàng hóa">
      <tab-custom label="Hàng hoá" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise"
          [columns]="merchandiseColumns"
          (handleDelete)="onRemoveMerchandise($event)" />
      </tab-custom>
      <tab-custom label="HĐĐT" class="w-100">
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color">
          {{ getLabel('lbl_tt_xuat_hddt') }}
        </div>
        <e-invoice-info
          [data]="ticket.masterInfo"
          [disabled]="readonly"></e-invoice-info>
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color pt-1 md:pt-3 lg:pt-7">
          {{ getLabel('lbl_hddt_phat_hanh') }}
        </div>
        <e-invoice-tab [data]="eInvoiceInfo"></e-invoice-tab>
      </tab-custom>
    </tabs-custom>

    <div>
      <div class="title-content p-2">{{ getLabel('lbl_tc_don_hang') }}</div>
      <div class="box-container">
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_so_luong')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_so_luong" />
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_diem_qd')"
          [align]="'end'"
          [value]="ticket.masterInfo.diem_qd"
          format="moneyViewFormat"
          dataType="number" />
      </div>
      <div class="d-flex justify-end gap-2 m-3">
        <app-voucher-info
          *ngIf="this.mode != 0"
          [entity]="entity"
          class="text-base"
          [voucherId]="ticket.masterInfo.stt_rec" />
        <div class="btn-responsive btn-in-file">
          <span>{{ getLabel('btnPrint') }}</span>
        </div>
        <div class="btn-responsive btn-cancel" (click)="onCancel()">
          {{ cancelButtonTitle }}
        </div>
        <div
          class="btn-responsive btn-add"
          (click)="onSave()"
          *ngIf="!readonly">
          {{ submitButtonTitle }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isSaving"
    class="position-absolute start-0 top-0 opacity-50"
    style="width: 100%; height: 100%; background-color: rgb(193, 193, 193)">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column">
        <div class="spinner-border text-dark align-self-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p>Đang lưu</p>
      </div>
    </div>
  </div>
</div>
