<div
  class="px-1 md:px-2 lg:px-4 flex-1 bg-white position-relative ticket-container">
  <div class="d-flex flex-column gap-2 mt-5 flex-1">
    <div class="title-page pb-2 flex justify-between items-center">
      <h5 class="">{{ title }}</h5>
      <app-voucher-info
        *ngIf="this.mode != 0"
        [entity]="entity"
        class="text-base"
        [voucherId]="ticket.masterInfo.stt_rec" />
    </div>
    <div class="title-content">{{ getLabel('tlt_content') }}</div>
    <div class="box-container mb-3">
      <form-input-custom
        class="box order-dynamic-1"
        [name]="'so_ct'"
        [label]="getLabel('lbl_so_ct')"
        [value]="ticket.masterInfo.so_ct"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ma_kh'"
        [label]="getLabel('lbl_ma_kh')"
        [value]="ticket.masterInfo.ma_kh"
        [tabIndex]="tabIndex.ma_kh"
        [disabled]="readonly"
        [invalid]="invalid"
        (handleChangeValue)="onEnterCustomerCode($event)"
        (handleClickOpenDialog)="openSearchCustomerDialog()"
        (handleUploadImage)="openUploadImage()"
        (handleUViewPhoto)="openImage()" />

      <form-input-custom
        class="box order-dynamic-3"
        [name]="'ma_nvvc'"
        [label]="getLabel('lbl_ma_nvvc')"
        [tabIndex]="tabIndex.nvvc"
        [disabled]="readonly"
        [value]="ticket.masterInfo.ma_nvvc"
        (handleEnterInput)="onEnterDECode($event)"
        (handleClickOpenDialog)="openSearchDEDialog()" />

      <form-input-custom
        class="box order-dynamic-1"
        [name]="'ngay_ct'"
        [label]="getLabel('lbl_ngay_ct')"
        [value]="ticket.masterInfo.ngay_ct"
        format="datetimeFormat"
        dataType="date"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ten_kh'"
        [label]="getLabel('lbl_ten_kh')"
        [value]="ticket.masterInfo.ten_kh"
        [disabled]="true" />

      <form-input-custom
        class="box order-dynamic-3"
        [name]="'ten_nvvc'"
        [label]="getLabel('lbl_ten_nvvc')"
        [value]="ticket.masterInfo.ten_nvvc"
        [disabled]="true" />
      <form-select-custom
        class="box order-dynamic-1 width-full"
        [isDisable]="readonly || disableSelectSatus"
        [label]="getLabel('lbl_trang_thai')"
        [options]="statusList"
        optionDes="statusname"
        optionValue="status"
        [value]="ticket.masterInfo.status"
        (handleChangeValue)="ticket.masterInfo.status = $event" />
      <form-input-custom
        class="box order-dynamic-2"
        [name]="'ghi_chu'"
        [label]="getLabel('lbl_ghi_chu')"
        [value]="ticket.masterInfo.dien_giai"
        (handleChangeValue)="ticket.masterInfo.dien_giai = $event"
        [disabled]="readonly" />
      <form-input-custom
        class="box order-dynamic-3"
        [name]="'ma_ncc'"
        [label]="getLabel('lbl_ma_ncc_tc')"
        [tabIndex]="tabIndex.ma_ncc"
        [disabled]="readonly || ticket.merchandise_used.length > 0"
        [readonly]="readonly || ticket.merchandise_used.length > 0"
        [value]="ticket.masterInfo.ma_ncc"
        (handleChangeValue)="onEnterSupplierCode($event)"
        (handleEnterInput)="onEnterSupplierCode($event)"
        (handleClickOpenDialog)="openSearchSupplierDialog()" />
    </div>
    <div class="box-container" *ngIf="!readonly">
      <div class="box-2" style="margin-top: 10px">
        <!-- HÀNG CŨ MUA VÀO -->
        <div class="title-content text-uppercase">
          {{ getLabel('lbl_hang_thu_cu') }}
        </div>
        <div class="">
          <form-input-custom
            class=""
            [name]="'imei_used'"
            [label]="getLabel('lbl_imei')"
            [tabIndex]="tabIndex.imei_used"
            [disabled]="readonly"
            [value]="renew.ma_imei"
            (handleChangeValue)="onChangeImei($event)"
            (handleClickCodeScanner)="onClickImeiOldMerchandiseCodeScanner()"
            [invalid]="invalidMerchandiseInput.imei_used"
            [uploadImage]="true" />
          <div class="flex flex-1 gap-2">
            <form-input-custom
              class="basis-2/5"
              name="ma_vt"
              [label]="getLabel('lbl_ma_vt_nhap')"
              [isLookup]="true"
              [controller]="'dmvt'"
              [value]="renew.ma_vt"
              [tabIndex]="tabIndex.ma_vt"
              [invalid]="invalidMerchandiseInput.ma_vt"
              (handleBlur)="onBlurTypeMerchandiseCode($event)"
              (handleEnterInput)="onEnterTypeMerchandiseCode($event)"
              (handleClickOpenDialog)="openTypeMerchandiseDialog()" />

            <form-input-custom
              class="flex-1"
              name="ten_vt"
              #ten_vt_mua
              [label]="getLabel('lbl_ten_vt')"
              [value]="renew.ten_vt"
              [tabIndex]="tabIndex.ten_vt"
              [disabled]="true" />
          </div>
          <div class="flex flex-1 gap-2">
            <form-input-custom
              class="basis-2/5"
              [name]="'loai_hh'"
              [label]="getLabel('lbl_loai_hh')"
              [value]="renew.loai_hh"
              [readonly]="true"
              [disabled]="readonly"
              [invalid]="invalidMerchandiseInput.loai_hh"
              [tabIndex]="tabIndex.ma_loai"
              (handleClickOpenDialog)="openSearchTypeMerchandiseDialog()" />
            <form-input-custom
              class="basis-3/5"
              [name]="'gia_nhap_mua'"
              [label]="getLabel('lbl_gia_nhap_mua')"
              [align]="'end'"
              [value]="renew.gia_nt"
              [tabIndex]="tabIndex.gia_nt"
              [disabled]="readonly"
              [invalid]="invalidMerchandiseInput.gia_nt"
              dataType="number"
              [readonly]="true"
              format="moneyViewFormat" />
            <!-- <button
              class="btn-responsive btn-add d-flex flex-1 align-self-end"
              (click)="onEnterImeiOldMerchandiseCode(renew.ma_imei)">
              Thêm
            </button> -->
          </div>
          <!-- <div class="d-flex box align-items-end gap-3 mt-5 align-self-end">
            <button
              *ngIf="!readonly"
              class="flex-1 btn act-input-data-btn text-nowrap"
              (click)="onEnterImeiOldMerchandiseCode()">
              {{ getLabel('btnAddItem') }}
            </button>
          </div> -->
        </div>
      </div>

      <!-- HÀNG MỚI BÁN RA -->
      <div class="box-2" style="margin-top: 10px">
        <div class="title-content text-uppercase">
          {{ getLabel('lbl_hang_ban_moi') }}
        </div>
        <div class="">
          <form-input-custom
            class=""
            [name]="'imei_new_sale'"
            [label]="getLabel('lbl_imei')"
            [tabIndex]="tabIndex.imei_new_sale"
            [disabled]="readonly"
            (handleEnterInput)="onEnterImeiNewMerchandiseCode($event)"
            (handleClickCodeScanner)="onClickCodeScanner()"
            [uploadImage]="true" />
          <form-input-custom
            class=""
            name="ma_vt_new_sale"
            [label]="getLabel('lbl_ma_vt')"
            [tabIndex]="tabIndex.ma_vt_new_sale"
            (handleEnterInput)="onEnterMerchandiseCode($event)"
            (handleClickOpenDialog)="openMerchandiseDialog()" />
          <div class="d-flex box align-items-end gap-3 mt-5 align-self-end">
            <button
              *ngIf="!readonly"
              class="flex-1 btn act-input-data-btn text-nowrap"
              (click)="openCalcDiscountDialog()">
              {{ getLabel('lbl_calc_discount') }}
            </button>
            <button
              *ngIf="!readonly"
              class="flex-1 btn act-input-data-btn text-nowrap"
              (click)="openAddCustomerDialog()">
              {{ getLabel('lbl_add_customer') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <tabs-custom title="Thông tin hàng hóa">
      <tab-custom label="Hàng hoá" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise_new_sale"
          [columns]="merchandiseColumns"
          (handleDelete)="onRemoveMerchandise($event)"
          (handleAdd)="onAddService($event)"
          (handleChangeCheckbox)="onChangePromotionalDebt($event)"
          (handleAddPackage)="onAddPackage($event)"
          (handleSwap)="onSwapPromotionMerchandise($event)" />
      </tab-custom>
      <tab-custom label="Dịch vụ" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.service"
          [columns]="serviceColumns"
          (handleDelete)="onRemoveService($event)" />
        <div class="flex gap-0 md:gap-4 lg:gap-8">
          <div class="flex-1 hidden lg:block"></div>
          <div class="flex-1 hidden md:block"></div>
          <div class="flex flex-1">
            <form-input-custom
              class="flex-1"
              name="email"
              [label]="getLabel('lbl_email_key')"
              *ngIf="!readonly"
              [value]="ticket.masterInfo.email_nhan_key"
              (handleChangeValue)="ticket.masterInfo.email_nhan_key = $event" />
          </div>
        </div>
      </tab-custom>
      <tab-custom label="Gói cước" class="w-100">
        <table-custom
          [dataSource]="ticket.packages"
          [columns]="packageColumns"
          [readonly]="readonly"
          (handleDelete)="onRemovePackage($event)" />
        <div class="flex gap-0 md:gap-4 lg:gap-8">
          <div class="flex-1 hidden lg:block"></div>
          <div class="flex-1 hidden md:block"></div>
          <div class="flex flex-1">
            <form-input-custom
              class="flex-1"
              name="email"
              [label]="getLabel('lbl_email_key')"
              *ngIf="!readonly"
              [value]="ticket.masterInfo.email_nhan_key"
              [invalid]="invalid"
              (handleChangeValue)="ticket.masterInfo.email_nhan_key = $event" />
          </div>
        </div>
      </tab-custom>
      <tab-custom label="Chiết khấu" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.discount"
          [columns]="discountColumns"
          (handleDelete)="onRemoveDiscount($event)" />
      </tab-custom>
      <!-- <tab-custom label="Bảo hành" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.guarantee"
          [columns]="guaranteeColumns" />
      </tab-custom> -->
      <tab-custom label="Hàng thu cũ" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise_used"
          [columns]="merchandiseUsedColumns"
          [isShowCustomeEdit]="true"
          (handleCustomeUpdate)="onUsedMerchandiseUpdate($event)"
          (handleDelete)="onRemoveUsedMerchandise($event)" />
      </tab-custom>
      <tab-custom label="HĐĐT" class="w-100">
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color">
          {{ getLabel('lbl_tt_xuat_hddt') }}
        </div>
        <e-invoice-info
          [data]="ticket.masterInfo"
          [disabled]="readonly"></e-invoice-info>
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color pt-1 md:pt-3 lg:pt-7">
          {{ getLabel('lbl_hddt_phat_hanh') }}
        </div>
        <e-invoice-tab [data]="eInvoiceInfo"></e-invoice-tab>
      </tab-custom>
    </tabs-custom>

    <div class="conversion" *ngIf="ticket.masterInfo.ma_kh">
      {{ getLabel('lbl_t_diem_quy_doi') }}
      <span>{{
        conversionPoints | formatData : 'number' : 'normalPrice'
      }}</span>
    </div>

    <div style="margin: 10px auto 20px auto; border-bottom: 1px dashed #cbd5e0">
      <div class="title-content p-2">{{ getLabel('lbl_tc_don_hang') }}</div>
      <div class="box-container">
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_sl_thu_cu')"
            label="Số lượng (thu cũ)"
            [align]="'end'"
            [value]="ticket.masterInfo.t_sl_thu_cu" />

          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [align]="'end'"
            [label]="getLabel('lbl_tt_thu_cu')"
            [value]="ticket.masterInfo.t_tien_thu_cu_nt"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_sl_ban_moi')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_so_luong" />

          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [align]="'end'"
            [label]="getLabel('lbl_tt_ban_moi')"
            [value]="ticket.masterInfo.t_tien_nt2"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_chiet_khau')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_ck"
            format="moneyViewFormat"
            dataType="number" />
          <form-input-custom
            class="box"
            [disabled]="true"
            [label]="getLabel('lbl_thue')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_thue_nt"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_t_tt')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_tt_nt"
          format="moneyViewFormat"
          dataType="number" />
        <div class="box hidden md:flex"></div>
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_t_gg')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_gg"
          format="moneyViewFormat"
          dataType="number" />
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_diem_qd')"
          [align]="'end'"
          [value]="ticket.masterInfo.diem_qd"
          format="moneyViewFormat"
          dataType="number" />
      </div>
    </div>

    <div>
      <ng-container>
        <payment-tab
          [pay_hidden]="['tien_dat_coc']"
          [invalid]="invalid"
          [readonly]="readonly"
          [t_tong_tien]="ticket.masterInfo.t_tt_nt"
          [data]="ticket.payment"
          [t_con_no]="ticket.masterInfo.t_con_no"
          [t_da_tra]="ticket.masterInfo.t_da_tra"
          [he_so_qd]="ticket.masterInfo.he_so_qd_tien"
          [diem_qd_max]="conversionPoints"
          [t_gg]="ticket.masterInfo.t_gg"
          [merchandise]="ticket.merchandise_new_sale"
          [ma_kh]="ticket.masterInfo.ma_kh"
          [ngay_ct]="ticket.masterInfo.ngay_ct"
          (handleChangeValue)="
            ticket.masterInfo.t_con_no = $event.t_con_no;
            ticket.masterInfo.t_da_tra = $event.t_da_tra;
            ticket.masterInfo.t_gg = $event.t_gg;
            ticket.masterInfo.nguoi_duyet_ck = $event.nguoi_duyet_ck
          " />
      </ng-container>
    </div>

    <div>
      <div class="d-flex justify-end gap-2 m-3">
        <app-voucher-info
          *ngIf="this.mode != 0"
          [entity]="entity"
          class="text-base"
          [voucherId]="ticket.masterInfo.stt_rec" />
        <div class="btn-responsive btn-in-file">
          <span>{{ getLabel('btnPrint') }}</span>
        </div>
        <div class="btn-responsive btn-cancel" (click)="onCancel()">
          {{ cancelButtonTitle }}
        </div>
        <div
          class="btn-responsive btn-add"
          (click)="onSave()"
          *ngIf="!readonly">
          {{ submitButtonTitle }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isSaving"
    class="position-absolute start-0 top-0 opacity-50"
    style="width: 100%; height: 100%; background-color: rgb(193, 193, 193)">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column">
        <div class="spinner-border text-dark align-self-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p>Đang lưu</p>
      </div>
    </div>
  </div>
</div>
