<div
  class="px-1 lg:px-5 lg:mx-5 lg:my-4 lg:py-1 content bg-white ticket-container">
  <div class="title-page pb-2 flex justify-between items-center">
    <h5 class="">{{ title }}</h5>
    <app-voucher-info
      *ngIf="this.mode != 0"
      [entity]="entity"
      class="text-base"
      [voucherId]="data.masterInfo.stt_rec || ''" />
  </div>
  <form action="" [formGroup]="voucherForm" #form>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-3 pb-2">
      <div class="flex gap-2">
        <app-input-custom-v2
          #so_ct
          [label]="getLabel('lbl_so_ct')"
          class="flex-1"
          name="so_ct"
          [dataFormatString]="'upperCaseFormat'"
          type="text"
          [value]="f['so_ct'].value"
          (handleChange)="handleInputChange('so_ct', $event)"
          (handleEnter)="onEnter($event)"
          [lookup]="true"
          [disabled]="true || disabled"
          [reference]="[so_ct]"></app-input-custom-v2>
        <app-input-custom-v2
          [label]="getLabel('lbl_ngay_ct')"
          class="flex-1"
          type="date"
          name="ngay_ct"
          type="text"
          [dataFormatString]="'datetimeFormat'"
          [value]="f['ngay_ct'].value"
          [disabled]="true || disabled"
          (handleChange)="handleInputChange('ngay_ct', $event)"
          (handleEnter)="onEnter($event)"></app-input-custom-v2>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_cuahang_x')"
            #ma_cuahang
            name="ma_cuahang"
            [value]="f['ma_cuahang_x'].value"
            [invalid]="submitted && f['ma_cuahang_x'].errors != null"
            (handleEnter)="onEnter($event)"
            (handleChange)="handleInputChange('ma_cuahang_x', $event)"
            [control]="shopService"
            [lookup]="true"
            [disabled]="disabled"
            [reference]="[ma_cuahang, ten_cuahang]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_cuahang_x')"
            #ten_cuahang
            name="ten_cuahang"
            [value]="this.data.masterInfo['ten_cuahang']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_kho_x')"
            #ma_kho
            name="ma_kho"
            [value]="f['ma_kho'].value"
            [invalid]="submitted && f['ma_kho'].errors != null"
            (handleChange)="handleInputChange('ma_kho', $event)"
            (handleEnter)="onEnter($event)"
            [control]="stockService2"
            [lookup]="true"
            [disabled]="disabled"
            [readonly]="true"
            [reference]="[ma_kho, ten_kho]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_kho_x')"
            #ten_kho
            name="ten_kho"
            [value]="this.data.masterInfo['ten_kho']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex">
        <select-custom
          class="flex-1"
          [label]="getLabel('lbl_trang_thai')"
          [options]="statusList"
          optionDes="statusname"
          optionValue="status"
          [isDisable]="disabled"
          [value]="data.masterInfo.status"
          (handleChangeValue)="
            data.masterInfo.status = $event; f['status'].setValue($event)
          " />
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_cuahang_n')"
            #ma_cuahang_n
            name="ma_cuahang"
            [value]="f['ma_cuahang_n'].value"
            [invalid]="submitted && f['ma_cuahang_n'].errors != null"
            (handleEnter)="onEnter($event)"
            (handleChange)="handleInputChange('ma_cuahang_n', $event)"
            [control]="shopService"
            [lookup]="true"
            [disabled]="true || disabled"
            [reference]="[ma_cuahang_n, ten_cuahang_n]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_cuahang_n')"
            #ten_cuahang_n
            name="ten_cuahang"
            [value]="this.data.masterInfo['ten_cuahang_n']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_kho_n')"
            #ma_khon
            name="ma_kho"
            [value]="f['ma_khon'].value"
            (handleChange)="handleInputChange('ma_khon', $event)"
            (handleEnter)="onEnter($event)"
            [control]="stockService"
            [invalid]="submitted && f['ma_khon'].errors != null"
            [lookup]="true"
            [disabled]="disabled"
            [readonly]="true"
            [reference]="[ma_khon, ten_khon]"></app-input-custom-v2>
        </div>
        <div class="flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_kho_n')"
            #ten_khon
            name="ten_kho"
            [value]="this.data.masterInfo['ten_khon']"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex basis-1/3">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ma_vt')"
            #ma_vt
            name="ma_vt"
            [disabled]="disabled"
            [value]="item.ma_vt"
            (handleEnter)="onEnter($event)"
            (handleChangeLookup)="handleInputLookupChange($event, 'ma_vt')"
            [control]="itemService"
            [lookup]="true"
            [reference]="[ma_vt, ten_vt, dvt]"></app-input-custom-v2>
        </div>
        <div class="flex flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_ten_vt')"
            #ten_vt
            name="ten_vt"
            [value]="item.ten_vt"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
        <div class="hidden">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_dvt')"
            #dvt
            name="dvt"
            [value]="item.dvt"
            [disabled]="true || disabled"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex flex-1">
          <app-input-custom-v2
            class="flex-1"
            [label]="getLabel('lbl_so_luong')"
            name="so_luong"
            [value]="item.so_luong"
            [disabled]="disabled"
            [dataFormatString]="'normalQuantity'"
            type="number"
            [align]="'right'"
            (handleChange)="this.item.so_luong = $event"
            [action]="true"
            (handleAction)="onEnterItem($event)"
            (handleEnter)="onEnterItem($event)"></app-input-custom-v2>
        </div>
      </div>
      <div class="flex gap-2">
        <app-input-custom-v2
          [label]="getLabel('lbl_dien_giai')"
          class="flex-1"
          #input2
          (handleEnter)="onEnter($event)"
          name="dien_giai"
          [disabled]="disabled"
          (handleChange)="handleInputChange('dien_giai', $event)"
          [value]="f['dien_giai'].value"
          [invalid]="
            submitted && f['dien_giai'].errors != null
          "></app-input-custom-v2>
      </div>
    </div>
    <tabs-custom>
      <tab-custom label="Chi tiết" class="h-96 w-full">
        <app-grid-v2
          [fields]="fields"
          [dataSource]="dataSource"
          [isLockingColumn]="isLockingColumn"
          [gridType]="gridType"
          [disabled]="disabled"
          [buttons]="buttons"
          [actionButtons]="actionButtons"
          (handlePaging)="onPageChange($event)"
          (handleSelectColumn)="onSelectColumn($event)"
          (handleSortColumn)="onSortColumn($event)"
          (handleSearch)="onSearch()"
          (handleButton)="clickButton($event)"
          (handleActionButton)="onHandleActionButton($event)"
          class="h-full w-full">
        </app-grid-v2>
      </tab-custom>
    </tabs-custom>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-1 lg:gap-x-10 gap-y-1 lg:gap-y-3">
      <div class="hidden lg:flex"></div>
      <div class="hidden lg:flex"></div>
      <div class="hidden lg:flex"></div>
      <div class="flex">
        <app-input-custom-v2
          #t_so_luong
          [label]="getLabel('lbl_t_so_luong')"
          class="flex-1"
          name="t_so_luong"
          [disabled]="true || disabled"
          [dataFormatString]="'normalQuantity'"
          type="number"
          [align]="'right'"
          [value]="data.masterInfo.t_so_luong"
          (handleChange)="handleInputChange('t_so_luong', $event)"
          (handleEnter)="onEnter($event)"></app-input-custom-v2>
      </div>
    </div>
    <!-- <div class="flex mt-2 flex-col">
      <div class="flex flex-1">
        <div class="flex basis-2/5"></div>
        <div class="flex flex-1">
          <div class="flex basis-1/3">Tổng số lượng</div>
          <div class="flex basis-1/3">
            <app-input
              name="ten_kh"
              type="number"
              [align]="'right'"
              dataFormatString="quantityViewFormat"
              [value]="f['t_so_luong'].value"
              [readonly]="true"></app-input>
          </div>
        </div>
        <div class="flex basis-1/3"></div>
      </div>
    </div> -->
    <div class="pb-4 border-b-0.5 border-solid border-gray-300"></div>
    <div class="px-4 py-2 flex flex-1 justify-end">
      <div class="flex">
        <!-- <app-voucher-info
          *ngIf="this.mode != 0"
          [entity]="entity"
          class="text-base"
          [voucherId]="data.masterInfo.stt_rec || ''" /> -->
        <button
          *ngIf="this.submitButtonTitle !== ''"
          #btnSubmit
          type="submit"
          (click)="onSubmit()"
          form=""
          [disabled]="disabled"
          class="submit px-4 py-1 text-white rounded min-w-button min-h-button bg-primary02_color hover:bg-primary01_color flex items-center justify-center border-0.5 border-solid border-gray-300">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"></span>
          {{ submitButtonTitle }}
        </button>
        <button
          (click)="onCancel()"
          form=""
          class="px-4 ml-2 rounded min-w-button min-h-button bg-neutrals08_color hover:bg-slate-200 py-1 flex items-center justify-center border-0.5 border-solid border-gray-300">
          {{ cancelButtonTitle }}
        </button>
      </div>
    </div>
  </form>
</div>
