.custom-dropdown {
  position: relative;
  width: calc(100% - 28px);
  font-size: 14px;
  margin: 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", sans-serif;
  box-shadow: 0px 1px 1px 0px rgba(129, 126, 126, 0.2);
}

.dropdown-header {
  cursor: pointer;
  padding: 10px 12px;
  border: 1px solid #ccc;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  width: calc(100% - 1px);
  box-shadow: 1px 5px 5px 1px rgba(80, 77, 77, 0.2);
  border-radius: 0px 0px 5px 5px;
}

.dropdown-options input {
  width: calc(100% - 25px); 
  padding: 8px 12px;
  border: 1px solid #ccc;
}

.dropdown-options div {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-options .store:hover {
  background-color: #0076d6;
  color: #fff;
}

/* icon  */
.fa-bars{
  margin-right: 10px;
  color: #888;
}
.fa-angle-down {
  transition: transform 0.1s ease;
  float: right;
  color: #888;
}

.fa-angle-down.open {
  transform: rotate(180deg); 
}

.search-container {
  position: relative;
  .search {
    width: 100%;
    padding: 8px 30px 8px 12px;
    border: 1px solid #ccc;
  }

  i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
}




