.btn-responsive {
  font-size: 14px;
  padding: 7px 27px;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.btn-add {
  background-color: #005447;
  color: #fff;
}