<div mat-dialog-content class="advanced-search-dialog-container">
  <div class="advanced-search-dialog-wrapper adv-search-form-box">
    <div class="pb-1 title">Tìm kiếm nâng cao</div>
    <div class="box-container mb-5" #form>
      <div class="d-flex gap-2 box">
        <div class="flex-1 form-type-date">
          <label class="col-form-label" for="ngay_bd">Từ ngày</label>
          <!-- <input class="form-control" type="date" id="ngay_bd" [value]="filters.ngay_bd" (change)="onChangeDateStart($event)" /> -->
          <app-input-date
            #date_start
            id="ngay_bd"
            [text]="filters.ngay_bd"
            (handleBlur)="onBlurDateStart($event, date_start)"
            (handleKeyUp)="onEnter($event)"></app-input-date>
          <span
            *ngIf="!filters.ngay_bd && invalid"
            style="font-size: 12px; color: #dc3545"
            >Chưa nhập thông tin ngày bắt đầu</span
          >
        </div>
        <div class="flex-1 form-type-date">
          <label class="col-form-label" for="ngay_kt">Đến ngày</label>
          <!-- <input class="form-control" type="date" id="ngay_kt" [value]="filters.ngay_kt" (change)="onChangeDateEnd($event)" /> -->
          <app-input-date
            #date_end
            id="ngay_kt"
            [text]="filters.ngay_kt"
            (handleBlur)="onBlurDateEnd($event, date_end)"
            (handleKeyUp)="onEnter($event)"></app-input-date>
          <span
            *ngIf="!filters.ngay_kt && invalid"
            style="font-size: 12px; color: #dc3545"
            >Chưa nhập thông tin ngày kết thúc</span
          >
        </div>
      </div>
      <div class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          #so_ct_bd
          [name]="'so_ct_bd'"
          [label]="'Số hóa đơn từ'"
          [value]="filters.so_ct_bd"
          (handleChangeValue)="filters.so_ct_bd = $event"
          (enterKeyPressed)="onEnter($event)"/>
        <form-input-custom
          class="flex-1"
          [name]="'so_ct_kt'"
          [label]="'Số hóa đơn đến'"
          [value]="filters.so_ct_kt"
          (handleChangeValue)="filters.so_ct_kt = $event"
          (enterKeyPressed)="onEnter($event)" />
      </div>
      <div class="d-flex gap-2 box" *ngIf="isShowShop()">
        <form-input-custom
          class="flex-1"
          #ma_cuahang
          [name]="'ma_cuahang'"
          [label]="lbl_ma_cuahang"
          [value]="filters.ma_cuahang"
          (handleClickOpenDialog)="openSearchShopDialog()"
          (handleChangeValue)="handleEnterShop($event)"
          (enterKeyPressed)="onEnter($event)" />
        <form-input-custom
          class="flex-1"
          [name]="'ten_cuahang'"
          [label]="lbl_ten_cuahang"
          [value]="ten_cuahang"
          [disabled]="true" />
      </div>

      <div
        *ngIf="
          voucherCode === 'PXB' || voucherCode === 'pxb' ||
          voucherCode === 'PNF' || voucherCode === 'pnf' ||
          voucherCode === 'PR3' || voucherCode === 'pr3' ||
          voucherCode === 'PXN' || voucherCode === 'pxn' ||
          voucherCode === 'PNN' || voucherCode === 'pnn'
        "
        class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          [name]="'ma_cuahang2'"
          [label]="lbl_ma_cuahang2"
          [value]="filters.ma_cuahang2"
          (handleClickOpenDialog)="openSearchShop2Dialog()"
          (handleChangeValue)="handleEnterShop2($event)"
          (enterKeyPressed)="onEnter($event)" />
        <form-input-custom
          class="flex-1"
          [name]="'ten_cuahang2'"
          [label]="lbl_ten_cuahang2"
          [value]="ten_cuahang2"
          [readonly]="true" />
      </div>

      <div *ngIf="
        !(voucherCode === 'PXB' || voucherCode === 'pxb' ||
        voucherCode === 'PNF' || voucherCode === 'pnf' ||
        voucherCode === 'PR3' || voucherCode === 'pr3' ||
        voucherCode === 'PXN' || voucherCode === 'pxn' ||
        voucherCode === 'PNN' || voucherCode === 'pnn'
        )
      "
        class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          [name]="'ma_kh'"
          [label]="'Mã khách'"
          (handleChangeValue)="filters.ma_kh = $event"
          [value]="filters.ma_kh"
          (handleEnterInput)="onEnterCustomerCode($event)"
          (handleClickOpenDialog)="openSearchCustomerDialog()"
          (enterKeyPressed)="onEnter($event)" />
        <form-input-custom
          class="flex-1"
          [name]="'ten_kh'"
          [label]="'Tên khách'"
          [value]="filters.ten_kh"
          [readonly]="true" />
      </div>

      <div class="d-flex gap-2 box" *ngIf="isShowStockList(); else noStockList">
        <form-input-custom
          class="flex-1"
          [name]="'ma_kho'"
          [label]="lbl_ma_kho"
          [value]="filters.ma_kho"
          (handleChangeValue)="onEnterWarehouseInput($event)"
          (handleClickOpenDialog)="openWarehouseDialog2('ma_kho')"
          (enterKeyPressed)="onEnter($event)" />
      </div>
      <ng-template #noStockList>
        <div class="d-flex gap-2 box" *ngIf="isShowInventory()">
          <form-input-custom
            class="flex-1"
            [name]="'ma_kho'"
            [label]="lbl_ma_kho"
            [value]="filters.ma_kho"
            (handleChangeValue)="onEnterWarehouseInput($event)"
            (handleClickOpenDialog)="openWarehouseDialog('ma_kho', 'ten_kho')"
            (enterKeyPressed)="onEnter($event)" />
          <form-input-custom
            class="flex-1"
            [name]="'ten_kho'"
            [label]="lbl_ten_kho"
            [value]="filters.ten_kho"
            [readonly]="true" />
        </div>
      </ng-template>


      <div class="d-flex gap-2 box" *ngIf="isShowStockList(); else noStockList2">
        <form-input-custom
          class="flex-1"
          [name]="'ma_kho2'"
          [label]="lbl_ma_kho2"
          [value]="filters.ma_kho2"
          (handleChangeValue)="onEnterWarehouseOutput($event)"
          (handleClickOpenDialog)="openWarehouseDialog2('ma_kho2')"
          (enterKeyPressed)="onEnter($event)" />
      </div>
      <ng-template #noStockList2>
        <div
              *ngIf="
                voucherCode === 'PXB' || voucherCode === 'pxb' ||
                voucherCode === 'PNF' || voucherCode === 'pnf' ||
                voucherCode === 'PR3' || voucherCode === 'pr3' ||
                voucherCode === 'PXN' || voucherCode === 'pxn' ||
                voucherCode === 'PNN' || voucherCode === 'pnn'
              "
              class="d-flex gap-2 box">
              <form-input-custom
                class="flex-1"
                [name]="'ma_kho2'"
                [label]="lbl_ma_kho2"
                [value]="filters.ma_kho2"
                (handleChangeValue)="onEnterWarehouseOutput($event)"
                (handleClickOpenDialog)="openWarehouseDialog('ma_kho2', 'ten_kho2')"
                (enterKeyPressed)="onEnter($event)" />
              <form-input-custom
                class="flex-1"
                [name]="'ten_kho2'"
                [label]="lbl_ten_kho2"
                [value]="filters.ten_kho2"
                [readonly]="true" />
            </div>
      </ng-template>




      <div class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          name="ma_vt"
          label="Mã hàng"
          [value]="filters.ma_vt"
          (handleChangeValue)="filters.ma_vt = $event"
          (handleEnterInput)="onEnterMerchandiseCode($event)"
          (handleClickOpenDialog)="openMerchandiseDialog()"
          (enterKeyPressed)="onEnter($event)" />
        <form-input-custom
          class="flex-1"
          [name]="'ten_vt'"
          [label]="'Tên hàng'"
          [value]="filters.ten_vt"
          [readonly]="true" />
      </div>

      <div class="d-flex gap-2 box">
        <form-input-custom
        *ngIf="isShowImei()"
        class="flex-1"
        [name]="'ma_imei'"
        [label]="'Mã imei'"
        [value]="filters.ma_imei"
        (handleChangeValue)="filters.ma_imei = $event"
        (enterKeyPressed)="onEnter($event)" />
      <form-select-custom
        class="flex-1"
        [label]="lbl_trang_thai"
        [options]="statusList"
        optionDes="statusname"
        optionValue="status"
        [value]="filters.status"
        (handleChangeValue)="filters.status = $event" />
      </div>
      <div class="d-flex gap-2 box">
        <div class="flex-1">&nbsp;</div>
        <form-select-custom
          *ngIf="
              voucherCode === 'PXB' || voucherCode === 'pxb' ||
              voucherCode === 'PNF' || voucherCode === 'pnf' ||
              voucherCode === 'PXN' || voucherCode === 'pxn' ||
              voucherCode === 'PNN' || voucherCode === 'pnn'
            "
          class="flex-1"
          [label]="lbl_trang_thai2"
          [options]="statusList"
          optionDes="statusname"
          optionValue="status"
          [value]="filters.status2"
          (handleChangeValue)="filters.status2 = $event"
          (enterKeyPressed)="onEnter($event)" />
      </div>

    </div>
    <div class="d-flex justify-end gap-2">
      <div class="btn-responsive btn-cancel" (click)="onCancel()">Hủy bỏ</div>
      <button class="btn-responsive btn-add" id="btn-add" (click)="onSave()">Tìm kiếm</button>
    </div>
    <div class="close-btn" (click)="onCancel()">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>
