<div mat-dialog-actions class="flex flex-col h-full relative px-2 py-3">
  <div
    class="w-full relative flex justify-between px-4 pt-2 pb-1 bg-white rounded-t-lg"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    *ngIf="!isMobile">
    <div class="font-medium text-xl">Tìm kiếm</div>
  </div>
  <div
    class="w-full relative flex justify-between px-4 pt-2 pb-1 bg-white rounded-t-lg"
    *ngIf="isMobile">
    <div class="font-medium text-xl">Tìm kiếm</div>
  </div>
  <div class="flex flex-1 w-full flex-col px-4 py-1 bg-white" #form>
    <div *ngFor="let row of controls; let indexRow = index" class="gap-2 flex">
      <ng-container
        *ngFor="let item of controls[indexRow]; let indexColumn = index">
        <div
          [class]="
            (item.class ? item.class : 'flex-1') +
            (item.hidden ? ' hidden' : '')
          ">
          <app-input-custom-v2 *ngIf="item.type !== 'date'"
            [label]="item.label"
            class="flex-1"
            [id]="item.name"
            [name]="item.name"
            [type]="item.type || 'text'"
            [value]="item.isExternalField ? this[item.name] : filter[item.name]"
            [dataFormatString]="item.dataFormatString || ''"
            [control]="item.control"
            [lookup]="item.isLookup || false"
            [reference]="item.reference"
            [mapper]="item.mapper"
            [disabled]="item.disabled || false"
            [isChoose]="item.isChoose || false"
            [filterOther]="filter"
            [invalid]="
              (!filter[item.name] || true) && (item.required || false) && submit
            "
            (handleChange)="handleInputChange(item.name, $event)"
            (handleChangeLookup)="handleInputLookupChange($event)"
            (handleEnter)="onEnter($event)"></app-input-custom-v2>

          <div class="flex-1 form-type-date" *ngIf="item.type === 'date' ">
            <label class="col-form-label">{{ item.label }}</label>
            <app-input-date #rpt_date
              [id]="item.name"
              [text]="filter[item.name]"
              (handleBlur)="onBlurDateStart($event, rpt_date, item.name)"
              (handleKeyUp)="onEnterDate($event, item.name)"
            ></app-input-date>
          </div>

          <div *ngIf="item.type === 'select'">
            <select-custom
              *ngIf="item.type === 'select'"
              [label]="item.label"
              [options]="item.options"
              [optionValue]="item.optionValue"
              [optionDes]="item.optionDes"
              [value]="filter[item.name]"
              (handleChangeValue)="handleInputChange(item.name, $event)">
            </select-custom>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="w-full relative flex justify-end px-2 pb-2 items-end bg-white rounded-b-lg">
    <div class="d-flex justify-end gap-2">
      <button class="btn-responsive btn-add" id="btn-filter-add" (click)="onSave()">Tìm kiếm</button>
      <div class="btn-responsive btn-cancel" (click)="onCancel()">Hủy bỏ</div>
    </div>
  </div>
  <div class="close-btn" (click)="onCancel()">
    <i class="fas fa-times"></i>
  </div>
</div>
