@import url('../../../css/style.scss');

// .label-spacing {
//   min-width: 120px;
// }
.form-control {
  background-color: #f8f8f8;
  // background-color: #ededed;
  border: 1px solid #888;;
  font-size: 1rem;
}

.scan-btn {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  .icon {
    color: #005447;
    margin-right: 5px;
  }
}
@mixin search-button-base {
  $button-height: 32px;
  $button-width: 32px;

  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $button-height;
    width: $button-width;
    border-radius: 50%;
    border: none;
    color: var(--primary_color);
  }
}

input {
  font-size: 14px;
}

input:focus {
  box-shadow: none;
}

.border-danger {
  border: 1px solid red;
}
@include search-button-base;
