<div class="position-relative">
  <div class="table-container" [ngClass]="isStyleFullHeight ? 'full-height-viewport' : ''">
    <table
      [ngClass]="{'table-main': type && type == 'main'}"
      [ngClass]="{'table-search': type && type == 'search-dialog'}">
      <tr class="table-header sticky top-0 shadow-md">
        <th *ngIf="selectByCheckbox" class="text-center align-middle">
          <div *ngIf="selectByCheckboxAll; else noselectByCheckboxAll">
          <input
          class="form-check-input"
          type="checkbox"
          (change)="onToggleAllCheckboxes($event)"
          [checked]="isAllSelected()"
        />
        </div>
        <ng-template #noselectByCheckboxAll>
          Chọn
          <div class="cell-boder-right"></div>
        </ng-template>
        </th>
        <ng-container *ngFor="let column of columns; index as i">
        <th
          class="table-title text-nowrap"
          *ngIf="column.visible">
          <div
            [ngStyle]="{
              width: column.width && column.width,
              minWidth: column.minWidth && column.minWidth
            }">
            <div class="title-content">
              {{ column['title'] }}
            </div>
            <form-input-custom
              *ngIf="useFilter"
              [name]="column.name"
              (handleChangeValue)="onChangeFilter($event, column.name)"
              (handleEnterInput)="onClickSearch()"
              (handleClickSearch)="onClickSearch()" />
          </div>
          <div
            class="cell-boder-right"
            (mousedown)="startResize($event, i)"></div>
        </th>
        </ng-container>
        <th
          *ngIf="
            (handleDelete.observers.length ||
              handleSwap.observers.length ||
              handleAdd.observers.length ||
              handleAddPackage.observers.length) &&
            !readonly
          "
          class="table-title text-nowrap">
          Thao tác
        </th>
      </tr>
      <tr
        id="record"
        #ref
        class="record"
        [ngClass]="[record.class_status || '', record.type_color_overview || '']"
        *ngFor="let record of dataSource; index as i">
        <td *ngIf="selectByCheckbox" class="text-center">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="record.selected"
            (change)="onChangeSelectCheckbox(record)" />
        </td>
        <ng-container *ngFor="let column of columns">
        <td
          *ngIf="column.visible"
          class="justify-content-center"
          (click)="type && type == 'main' && onSelectItem(record, ref)">
          <div *ngIf="column.name === 'stt'">{{ i + 1 }}</div>
          <div
            [ngStyle]="{
              width: column.width && column.width,
              minWidth: column.minWidth && column.minWidth
            }"
            *ngIf="column['type'] === 'text'"
            [ngClass]="{
              'text-center': column.align === 'center',
              'text-end': column.align === 'end',
              'text-right': column.align === 'right',
              'text-left': column.align === 'left',
              'cursor-pointer': column.isPrimaryKey === true,
              underline: column.isPrimaryKey,
              'hover:text-green-600': column.isPrimaryKey
            }"
            (click)="column.isPrimaryKey && onSelectItem(record, ref)">
            {{
              column.format
                ? (record[column['name']]
                  | formatData : column.dataType : column.format)
                : record[column['name']]
            }}
          </div>
          <input
            [ngClass]="{
              'w-full bg-transparent outline-none': true,
          'text-center': column.align === 'center',
          'text-end': column.align === 'end',
          'text-right': column.align === 'right',
          'text-left': column.align === 'left',
        }"
            #texbox
            (change)="onChangeInput(record, i, texbox.value, column.name)"
            (input)="
              onInput(
                texbox,
                record[column.name + '_max'],
                record,
                i,
                column.name
              )
            "
            disabled="readonly"
            *ngIf="column['type'] === 'texbox'"
            [value]="
              column.format
                ? (record[column['name']]
                  | formatData : column.dataType : column.format)
                : record[column['name']]
            " />

          <div
            [ngClass]="{
        'text-center': column.align === 'center',
        'text-end': column.align === 'end',
        'text-right': column.align === 'right',
        'text-left': column.align === 'left',
      }">
            <input
              class="form-check-input"
              type="checkbox"
              [ngModel]="record[column['name']]"
              *ngIf="column['type'] === 'checkbox'"
              [disabled]="!isEnableCheckbox(column['name'], record)"
              (change)="
                isEnableCheckbox(column['name'], record) &&
                  onChangeCheckbox(record, i, $event, column.name)
              " />
          </div>
        </td>
        </ng-container>
        <td
          *ngIf="
            handleDelete.observers.length ||
            handleSwap.observers.length ||
            handleAdd.observers.length ||
            handleUpdate.observers.length ||
            handleAddPackage.observers.length
          ">
          <div class="d-flex align-center justify-content-center gap-2">
            <button
              title="Thêm chiết khấu ngoại giao"
              (click)="onAddDiscountNG(record)"
              *ngIf="
                handleAdd.observers.length &&
                !record.km_yn &&
                !readonly &&
                isShowDiscountNG
              ">
              <i class="fas fa-star icon-table"></i>
            </button>
            <button
              title="Thêm dịch vụ"
              (click)="onAddForItem(record)"
              *ngIf="
                handleAdd.observers.length &&
                !record.km_yn &&
                record.nh_vt1 !== 'SIMTHE' &&
                !readonly &&
                !hiddenAddServiceButton
              ">
              <i class="fas fa-plus icon-table"></i>
            </button>
            <button
              title="Thêm gói cước"
              (click)="onAddPackageForItem(record)"
              *ngIf="
                handleAddPackage.observers.length &&
                record.nh_vt1 === 'SIMTHE' &&
                !readonly
              ">
              <i class="fa-solid fa-sim-card icon-table"></i>
            </button>
            <button
              title="Thay đổi hàng khuyến mại"
              (click)="onSwapItem(record)"
              *ngIf="handleSwap.observers.length && record.km_yn && !readonly">
              <i class="fas fa-exchange icon-table"></i>
            </button>
            <!-- <button
              (click)="onActionItem(record)"
              *ngIf="
                handleAction.observers.length && entityName === 'SVTran_DXA' && record.status != 1
              ">
              <span class="icon-table">Lập phiếu bán buôn</span>
            </button> -->
            <button
              (click)="onDeleteDiscount09(record)"
              *ngIf="showRemoveDiscount09Button(record)"
              title="Xóa chiết khấu hạng thành viên">
              <i class="fas fa-times text-danger"></i>
            </button>
            <button
              (click)="onViewItem(record)"
              *ngIf="showVieweButton(record)">
              <i class="fas fa-eye icon-table text-primary"></i>
            </button>
            <button
              title="Sửa"
              (click)="onUpdateItem(record)"
              *ngIf="showEditButton(record)">
              <i class="fas fa-edit icon-table text-primary"></i>
            </button>
            <button
              title="Sửa"
              (click)="onCustomeUpdateItem(record)"
              *ngIf="isShowCustomeEdit">
              <i class="fas fa-edit icon-table text-primary"></i>
            </button>
            <button
              title="Xóa"
              (click)="onDeleteItem(record)"
              *ngIf="showDeleteButton(record)">
              <i class="fas fa-trash-alt icon-table text-danger"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div
    class="table-footer"
    [ngClass]="{'table-search-footer': type && type == 'search-dialog'}"
    *ngIf="handleChangePage.observers.length && !hiddenPagination">
    <div class="pagination">
      <button
        class="pre"
        [ngClass]="page_index === 1 ? 'disabled' : ''"
        [disabled]="page_index === 1"
        (click)="onClickChangePage('prev')">
        <i class="fas fa-angle-left"></i>
      </button>
      <button
        (click)="onClickChangePage('prev-range')"
        class="pre-range"
        [ngClass]="1 <= page_index && page_index <= 10 ? 'd-none' : ''">
        ...
      </button>
      <div class="page-index-wrapper">
        <button
          (click)="onClickChangePage(pageIndex)"
          class="page-index"
          [ngClass]="page_index === pageIndex ? 'active' : ''"
          *ngFor="let pageIndex of pageIndexRange">
          {{ pageIndex }}
        </button>
      </div>
      <button
        (click)="onClickChangePage('next-range')"
        class="next-range"
        [ngClass]="
          pageIndexRange[pageIndexRange.length - 1] === pageIndexTotal
            ? 'd-none'
            : ''
        ">
        ...
      </button>
      <button
        class="next"
        (click)="onClickChangePage('next')"
        [ngClass]="page_index === pageIndexTotal ? 'disabled' : ''"
        [disabled]="page_index === pageIndexTotal">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
    <div class="info-wrapper">
      <div *ngIf="page_index && size">
        {{ (page_index - 1) * size + 1 }} -
        {{ page_index * size <= totalItem ? page_index * size : totalItem }} của
        tổng số
        {{ totalItem }}
      </div>
      <div class="count-page" *ngIf="totalItem">
        <select name="" id="" (change)="onChangePageSize($event)">
          <option
            [selected]="value == size"
            [value]="value"
            *ngFor="let value of pageSizeOptions">
            {{ value }}
          </option>
        </select>
        <span>&nbsp;Bản ghi trên trang</span>
      </div>
    </div>
  </div>
  <div
    *ngIf="isLoading"
    class="position-absolute start-0 top-0 opacity-50"
    style="width: 100%; height: 100%; background-color: rgb(193, 193, 193)">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column">
        <div class="spinner-border text-dark align-self-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p>Đang tải</p>
      </div>
    </div>
  </div>
</div>
