<div
  class="px-1 md:px-2 lg:px-4 flex-1 bg-white position-relative ticket-container">
  <div class="d-flex flex-column gap-2 mt-5 flex-1">
    <div class="title-page pb-2 flex justify-between items-center">
      <h5 class="">{{ title }}</h5>
      <app-voucher-info
        *ngIf="this.mode != 0"
        [entity]="entity"
        class="text-base"
        [voucherId]="ticket.masterInfo.stt_rec" />
    </div>
    <div class="title-content">{{ getLabel('tlt_content') }}</div>
    <div class="box-container mb-3">
      <div class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          [name]="'so_ct'"
          [label]="getLabel('lbl_so_ct')"
          [value]="ticket.masterInfo.so_ct"
          [disabled]="true" />
        <form-input-custom
          class="flex-1"
          [name]="'ngay_ct'"
          [label]="getLabel('lbl_ngay_ct')"
          [value]="ticket.masterInfo.ngay_ct"
          format="datetimeFormat"
          dataType="date"
          [disabled]="true" />
      </div>

      <form-input-custom
        class="box"
        [name]="'ma_tmdt'"
        [label]="getLabel('lbl_ma_tmdt')"
        [value]="ticket.masterInfo.ma_kh_tmdt"
        [tabIndex]="tabIndex.ma_kh_tmdt"
        [readonly]="readonly"
        (handleEnterInput)="onEnterCustomerCodeTMDT($event)"
        (handleClickOpenDialog)="openSearchCustomerTMDTDialog()" />
      <form-input-custom
        class="box"
        [name]="'ma_kh'"
        [label]="getLabel('lbl_ma_kh')"
        [value]="ticket.masterInfo.ma_kh"
        [tabIndex]="tabIndex.ma_kh"
        [readonly]="readonly"
        [invalid]="invalid"
        (handleChangeValue)="onEnterCustomerCode($event)"
        (handleClickOpenDialog)="openSearchCustomerDialog()"
        (handleUploadImage)="openUploadImage()"
        (handleUViewPhoto)="openImage()" />
      <form-input-custom
        class="box"
        [name]="'ten_kh'"
        [label]="getLabel('lbl_ten_kh')"
        [value]="ticket.masterInfo.ten_kh"
        [disabled]="true"
        (handleClickUploadImage)="openUploadImage()" />
      <form-input-custom
        class="box"
        [name]="'dia_chi'"
        [label]="getLabel('lbl_dia_chi')"
        [value]="ticket.masterInfo.dia_chi"
        [disabled]="true" />
      <form-input-custom
        class="box"
        [name]="'imei'"
        [label]="getLabel('lbl_imei')"
        [tabIndex]="tabIndex.imei"
        *ngIf="!readonly"
        (handleEnterInput)="onEnterImeiCode($event)"
        (handleClickCodeScanner)="onClickCodeScanner()"
        [uploadImage]="true" />
      <form-input-custom
        class="box"
        name="ma_vt"
        [label]="getLabel('lbl_ma_vt')"
        [tabIndex]="tabIndex.ma_vt"
        *ngIf="!readonly"
        (handleEnterInput)="onEnterMerchandiseCode($event)"
        (handleClickOpenDialog)="openMerchandiseDialog()" />
      <form-select-custom
        class="box"
        [isDisable]="readonly || disableSelectStatus"
        [label]="getLabel('lbl_trang_thai')"
        [options]="statusList"
        optionDes="statusname"
        optionValue="status"
        [value]="ticket.masterInfo.status"
        (handleChangeValue)="ticket.masterInfo.status = $event" />

      <div
        class="d-flex box align-items-end gap-3 mt-3 align-self-end"
        *ngIf="!readonly">
        <button
          class="flex-1 btn act-input-data-btn text-nowrap"
          (click)="openCalcDiscountDialog()">
          {{ getLabel('lbl_calc_discount') }}
        </button>
        <button
          class="flex-1 btn act-input-data-btn text-nowrap"
          (click)="openAddCustomerDialog()">
          {{ getLabel('lbl_add_customer') }}
        </button>
      </div>

      <form-input-custom
        class="box"
        [name]="'dien_giai'"
        [label]="getLabel('lbl_dien_giai')"
        [value]="ticket.masterInfo.dien_giai"
        (handleChangeValue)="onChange_dien_giai($event)"
      />

    </div>

    <tabs-custom title="Thông tin hàng hóa">
      <tab-custom label="Hàng hoá" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise"
          [columns]="ecommerceColumns"
          (handleDelete)="onRemoveMerchandise($event)"
          (handleAdd)="onAddService($event)"
          (handleUpdate)="onUpdateService($event)"
          (handleSwap)="onSwapPromotionMerchandise($event)"
          (handleChangeCheckbox)="onChangePromotionalDebt($event)"
          (handleAddPackage)="onAddPackage($event)" />
      </tab-custom>
      <tab-custom label="Dịch vụ" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.service"
          [columns]="serviceColumns"
          (handleDelete)="onRemoveService($event)" />
        <div class="flex gap-0 md:gap-4 lg:gap-8">
          <div class="flex-1 hidden lg:block"></div>
          <div class="flex-1 hidden md:block"></div>
          <div class="flex flex-1">
            <form-input-custom
              class="flex-1"
              name="email"
              [label]="getLabel('lbl_email_key')"
              *ngIf="!readonly"
              [value]="ticket.masterInfo.email_nhan_key"
              (handleChangeValue)="ticket.masterInfo.email_nhan_key = $event" />
          </div>
        </div>
      </tab-custom>
      <tab-custom label="Gói cước" class="w-100">
        <table-custom
          [dataSource]="ticket.packages"
          [columns]="packageColumns"
          [readonly]="readonly"
          (handleDelete)="onRemovePackage($event)" />
        <div class="flex gap-0 md:gap-4 lg:gap-8">
          <div class="flex-1 hidden lg:block"></div>
          <div class="flex-1 hidden md:block"></div>
          <div class="flex flex-1">
            <form-input-custom
              class="flex-1"
              name="email"
              [label]="getLabel('lbl_email_key')"
              *ngIf="!readonly"
              [value]="ticket.masterInfo.email_nhan_key"
              [invalid]="invalid"
              (handleChangeValue)="ticket.masterInfo.email_nhan_key = $event" />
          </div>
        </div>
      </tab-custom>
      <tab-custom label="Chiết khấu" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.discount"
          [columns]="discountColumns"
          (handleDelete)="onRemoveDiscount($event)" />
      </tab-custom>
      <!-- <tab-custom label="Bảo hành" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.guarantee"
          [columns]="guaranteeColumns" />
      </tab-custom> -->
      <tab-custom label="Thông tin đơn TMĐT" class="w-100">
        <ecommerce-order-infomation
          [readonly]="readonly"
          [data]="ticket.ecommerce" />
      </tab-custom>
      <tab-custom label="HĐĐT" class="w-100">
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color">
          {{ getLabel('lbl_tt_xuat_hddt') }}
        </div>
        <e-invoice-info
          [data]="ticket.masterInfo"
          [disabled]="readonly"></e-invoice-info>
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color pt-1 md:pt-3 lg:pt-7">
          {{ getLabel('lbl_hddt_phat_hanh') }}
        </div>
        <e-invoice-tab [data]="eInvoiceInfo"></e-invoice-tab>
      </tab-custom>
    </tabs-custom>

    <div class="deposit" *ngIf="depositMerchandise.length">
      {{ getLabel('lbl_hh_co_tien_coc') }}
      <span>{{ depositNameList }}</span
      >. {{ getLabel('lbl_t_tien_dat_coc') }}
      {{ depositTotalPrice | formatData : 'number' : 'normalPrice' }} VNĐ
    </div>

    <!-- <div class="conversion" *ngIf="ticket.masterInfo.ma_kh">
      {{ getLabel('lbl_t_diem_quy_doi') }}
      <span>{{
        conversionPoints | formatData : 'number' : 'normalPrice'
      }}</span>
    </div> -->

    <!-- <div style="border-bottom: 1px dashed #cbd5e0; margin-bottom: 20px">
      <div class="title-content p-2">Phí sàn TMĐT</div>
      <div class="box-container">
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_tmdt01')"
            [align]="'end'"
            [value]="ticket.masterInfo.tien_phi_01"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_01 = $event; onChangeEcommFee();" />

          <form-input-custom
            class="flex-1"
            [align]="'end'"
            [label]="getLabel('lbl_phi_san_tmdt02')"
            [value]="ticket.masterInfo.tien_phi_02"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_02 = $event; onChangeEcommFee()" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_tmdt03')"
            [align]="'end'"
            [value]="ticket.masterInfo.tien_phi_03"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_03 = $event; onChangeEcommFee()" />

          <form-input-custom
            class="flex-1"
            [align]="'end'"
            [label]="getLabel('lbl_phi_san_tmdt04')"
            [value]="ticket.masterInfo.tien_phi_04"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_04 = $event; onChangeEcommFee()" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_tmdt05')"
            [align]="'end'"
            [value]="ticket.masterInfo.tien_phi_05"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_05 = $event; onChangeEcommFee()" />

          <form-input-custom
            class="flex-1"
            [align]="'end'"
            [label]="getLabel('lbl_phi_san_tmdt06')"
            [value]="ticket.masterInfo.tien_phi_06"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_06 = $event; onChangeEcommFee()" />
        </div>
      </div>
      <div class="box-container">
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_tmdt07')"
            [align]="'end'"
            [value]="ticket.masterInfo.tien_phi_07"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_07 = $event; onChangeEcommFee()" />

          <form-input-custom
            class="flex-1"
            [align]="'end'"
            [label]="getLabel('lbl_phi_san_tmdt08')"
            [value]="ticket.masterInfo.tien_phi_08"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_08 = $event; onChangeEcommFee()" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_tmdt09')"
            [align]="'end'"
            [value]="ticket.masterInfo.tien_phi_09"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_09 = $event; onChangeEcommFee()" />

          <form-input-custom
            class="flex-1"
            [align]="'end'"
            [label]="getLabel('lbl_phi_san_tmdt10')"
            [value]="ticket.masterInfo.tien_phi_10"
            format="moneyInputFormat"
            dataType="number"
            (handleChangeValue)="ticket.masterInfo.tien_phi_10 = $event; onChangeEcommFee()" />
        </div>
        <div class="box d-flex">
          <form-input-custom
            class="flex-1"
            [label]="getLabel('lbl_phi_san_hoangha')"
            [align]="'end'"
            [value]="ticket.masterInfo.phi_hoang_ha"
            format="moneyInputFormat"
            dataType="number" />
        </div>
      </div>
    </div> -->

    <div style="border-bottom: 1px dashed #cbd5e0; margin-bottom: 20px">
      <div class="title-content p-2">{{ getLabel('lbl_tc_don_hang') }}</div>
      <div class="box-container">
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_so_luong')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_so_luong" />

          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [align]="'end'"
            [label]="getLabel('lbl_thanh_tien')"
            [value]="ticket.masterInfo.t_tien_nt2"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="'Tổng phí sàn'"
            [align]="'end'"
            [value]="ticket.masterInfo.t_phi_san"
            format="moneyViewFormat"
            dataType="number" />
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_thue')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_thue_nt"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_t_tt')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_tt_nt"
          format="moneyViewFormat"
          dataType="number" />
        <div class="w-100 order-10 d-flex justify-content-end">
          <div class="box d-flex gap-2">
            <form-input-custom
              class="flex-1"
              [disabled]="true"
              [label]="getLabel('lbl_chiet_khau')"
              [align]="'end'"
              [value]="ticket.masterInfo.t_ck"
              format="moneyViewFormat"
              dataType="number" />
            <form-input-custom
              class="flex-1"
              [disabled]="true"
              [label]="getLabel('lbl_diem_qd')"
              [align]="'end'"
              [value]="ticket.masterInfo.diem_qd"
              format="moneyViewFormat"
              dataType="number" />
          </div>
        </div>
      </div>
    </div>

    <ng-container>
      <payment-tab
        [invalid]="invalid"
        [readonly]="readonly"
        [pay_hidden]="['sd_diem', 'ma_giam_gia']"
        [t_tong_tien]="ticket.masterInfo.t_tt_nt"
        [data]="ticket.payment"
        [t_con_no]="ticket.masterInfo.t_con_no"
        [t_da_tra]="ticket.masterInfo.t_da_tra"
        [t_dat_coc_max]="depositTotalPrice"
        [he_so_qd]="ticket.masterInfo.he_so_qd_tien"
        [diem_qd_max]="conversionPoints"
        [depositSource]="depositMerchandise"
        [ma_kh]="ticket.masterInfo.ma_kh"
        [ngay_ct]="ticket.masterInfo.ngay_ct"
        (handleChangeValue)="
          ticket.masterInfo.t_con_no = $event.t_con_no;
          ticket.masterInfo.t_da_tra = $event.t_da_tra;
          ticket.masterInfo.nguoi_duyet_ck = $event.nguoi_duyet_ck
        " />
    </ng-container>

    <div>
      <div class="d-flex justify-end gap-2 m-3">
        <app-voucher-info
          *ngIf="this.mode != 0"
          [entity]="entity"
          class="text-base"
          [voucherId]="ticket.masterInfo.stt_rec" />
        <div class="btn-responsive btn-in-file">
          <span>{{ getLabel('btnPrint') }}</span>
        </div>
        <div class="btn-responsive btn-cancel" (click)="onCancel()">
          {{ cancelButtonTitle }}
        </div>
        <div
          class="btn-responsive btn-add"
          (click)="onSave()"
          *ngIf="!readonly">
          {{ submitButtonTitle }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isSaving"
    class="position-absolute start-0 top-0 opacity-50"
    style="width: 100%; height: 100%; background-color: rgb(193, 193, 193)">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column">
        <div class="spinner-border text-dark align-self-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p>Đang lưu</p>
      </div>
    </div>
  </div>
</div>
