<div class="bg-white p-4">
    <div mat-dialog-title class="title">
        Chỉnh sửa dịch vụ
    <div mat-dialog-content>  
        <div class="box-container mb-4">
          <div class="box d-flex gap-2">
            <form-input-custom
              class="flex-1"
              [label]="'Số lượng'"
              [align]="'end'"
              [value]="quantity"
              format="'normalQuantityVN'"
              dataType="number"
              (input)="handleInput($event)"
              (handleChangeValue)="this.quantity = $event"
              (handleEnterInput)="onSelect()"/>
            <form-input-custom
              class="flex-1"
              [label]="'Giá bán'"
              [align]="'end'"
              [value]="gia_vat"
              format="moneyInputFormat"
              dataType="number"
              (handleChangeValue)="this.gia_vat = $event"
              (handleEnterInput)="onSelect()"/>
            </div>

            <div class="box d-flex gap-2">
              <form-input-custom
              class="w-1/3"
              [name]="'ma_lydo'"
              [label]="'Mã lý do'"
              [value]="ma_lydo"
              (handleChangeValue)="this.ma_lydo = $event"
              (handleClickOpenDialog)="openSearchReasonDialog()"/>

            <form-input-custom
              class="flex-1"
              [name]="'noi_dung'"
              [label]="'Nội dung'"
              [value]="noi_dung"
              [disabled]="true" />
              </div>  
          </div>
    </div>
  
    <div mat-dialog-actions class="gap-3 justify-end ml-5">
      <div class="d-flex justify-end gap-2 m-2">
        <div class="btn-responsive btn-cancel" (click)="onCancel()">Hủy bỏ</div>
        <div class="btn-responsive btn-add" (click)="onSelect()">Chọn</div>
      </div>
    </div>
  </div>
  
    
