<div class="bg-white">
  <div mat-dialog-title>
    {{ title }}
  </div>
  <div mat-dialog-content>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-3">
      <form-payment-custom
        label="Số tiền cọc thanh toán"
        class="flex-1 form-control border border-success shadow-sm "
        [value]="tien_coc"
        [align]="'end'"
        [max]="data.t_tong_tien"
        dataType="number"
        format="moneyInputFormat"
        (handleChangeValue)="tien_coc = $event;tien_con_no = tien_coc - thanh_toan"/>
      <form-payment-custom
        [readonly]="true"
        label="Tiền cọc đã phân bổ"
        class="flex-1"
        [value]="thanh_toan"
        [align]="'end'"
        dataType="number"
        format="moneyInputFormat"
        (handleChangeValue)="tien_con_no = tien_coc - thanh_toan"
        [disabled]="true" />
      <form-payment-custom
        [readonly]="true"
        label="Tiền cọc chưa phân bổ"
        class="flex-1"
        [value]="tien_con_no"
        [align]="'end'"
        dataType="number"
        format="moneyViewFormat"
        [disabled]="true" />
      <form-payment-custom
        [readonly]="true"
        label="Tổng tiền đơn hàng"
        class="flex-1"
        [value]="data.t_tong_tien"
        [align]="'end'"
        dataType="number"
        format="moneyViewFormat"
        [disabled]="true" />
    </div>

    <div class="search-dialog pt-2">
      <table-custom
        [dataSource]="dataSource"
        [columns]="columns"
        [selectByCheckbox]="true" 
        (handleChangeSelectCheckbox)="handleChangeSelectCheckbox($event)"/>
    </div>
  </div>

  <div mat-dialog-actions class="gap-3 justify-end ml-5">
    <div class="d-flex justify-end gap-2 m-2">
      <div class="btn-responsive btn-cancel" (click)="onCancel()">Hủy bỏ</div>
      <div class="btn-responsive btn-add" (click)="onSelect()">Chọn</div>
    </div>
  </div>
</div>
