/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
  border: var(--border_style);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.grid_container {
  height: 100%;
}
.table_header {
  width: calc(100% - 10px);
  border: var(--border_style);
  border-bottom: none;
  border-right: none;
  overflow: hidden;
  // overflow: scroll;
  // overflow: auto;
}
.example-container {
  // height: calc(100% - 155px) !important;
  // width: calc(100% + 20px) !important;
  overflow: scroll;
  border-left: var(--border_style);
}

#grid {
  position: relative;
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}
.mat-mdc-table {
  table-layout: fixed;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
  width: 100%;
  // &:last-child {
  //   height: 101%;
  // }
  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
  }
  .mat-mdc-cell {
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  ::ng-deep .mat-sort-header-container {
    justify-content: center;
  }
  .mat-mdc-header-cell {
    position: relative;
    &:not(:last-child) {
      ::ng-deep .resize-holder {
        cursor: col-resize;
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 1;
      }
    }
  }
  .mat-sort-header {
    position: relative;
    &:not(:last-child) {
    }
  }
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    border-right: var(--border_style);
    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
    &:last-child {
      border-right: none;
    }
  }
  .mat-mdc-row:hover .mat-mdc-cell {
    cursor: text;
    // background-color: var(--row_hover_color);
    // transition: background-color 0.2s ease;

    // border-color: var(--row_hover_color);
    // border: 1px solid var(--row_hover_color);
  }
  .mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: var(--border_style);
  }
  .mdc-data-table__row:nth-child(even) {
    background-color: var(--table_row_even_color);
  }
  .mdc-data-table__row:nth-child(odd) {
    background-color: var(--table_row_odd_color);
  }
  .mdc-checkbox--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  // .mat-mdc-header-row .mat-mdc-header-cell:last-child {
  //   border-right: none;
  // }

  // .mat-mdc-cell :last-child
  //   border-right: none;
  // }
}
