<div class="search-dialog-container">
  <div class="search-dialog-wrapper px-2">
    <div class="title mb-3">Danh sách quẹt thẻ</div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="d-flex gap-2">
        <form-payment-custom
          [readonly]="readonly"
          class="flex-1"
          [name]="'ma_may_pos'"
          [label]="'Mã máy POS'"
          [value]="quet_the.ma_may_pos"
          [invalid]="invalid"
          [disabled]="true"
          (handleChangeValue)="onEnterPOSCode($event)"
          (handleClickOpenDialog)="openSearchPOSDialog()" />
        <form-payment-custom
          [readonly]="readonly"
          class="flex-1"
          [name]="'ma_chuan_chi'"
          [label]="'Mã chuẩn chi'"
          [value]="quet_the.ma_chuan_chi"
          [invalid]="invalid"
          [disabled]="readonly"
          (handleChangeValue)="quet_the.ma_chuan_chi = $event" />
      </div>
      <div class="d-flex gap-2">
        <form-payment-custom
          [readonly]="readonly"
          [name]="'so_the'"
          [label]="'Số thẻ'"
          class="flex-1"
          [value]="quet_the.so_the"
          [invalid]="invalid"
          [disabled]="readonly"
          (handleChangeValue)="quet_the.so_the = $event" />
        <form-payment-custom
          [readonly]="readonly"
          label="Số tiền"
          class="flex-1"
          [value]="quet_the.tien"
          [align]="'end'"
          dataType="number"
          format="moneyInputFormat"
          [invalid]="quet_the.selected && invalid ? true : false"
          [disabled]="readonly"
          (handleChangeValue)="quet_the.tien = $event"
          (handleEnterInput)="addDetail()" />
      </div>
    </div>
    <div class="search-dialog pt-2">
      <div class="py-1 text-base font-semibold">Chi tiết</div>
      <table-custom
        [isLoading]="isLoading"
        [type]="'search-dialog'"
        [dataSource]="dataSource"
        [columns]="columns"
        [totalItem]="recordCount"
        [size]="page_size"
        [isTicket]="false"
        [readonly]="readonly"
        (handleDelete)="onDeleteItem($event)"></table-custom>
    </div>

    <div class="d-flex justify-end gap-2 px-3">
      <div class="btn-responsive btn-cancel" (click)="onCancel()">Đóng</div>
      <!-- <div class="btn-responsive btn-add" (click)="onSave()">Chọn</div> -->
    </div>
    <div class="close-btn" (click)="onCancel()">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>
