<div
  mat-dialog-actions
  class="flex flex-col h-full bg-white imei-dialog-container">
  <div class="w-full relative flex justify-between p-1">
    <div class="font-medium text-xl" *ngIf="ma_vt">
      IMEI của <span class="text-green-500">{{ ma_vt }}:</span>
    </div>
  </div>
  <div class="flex w-full p-2">
    <textarea
      #txtImeiInput
      (focus)="(true)"
      class="w-full px-1 outline-none border-0.5 border-solid border-primary01_color"
      name=""
      id=""
      [(ngModel)]="ma_imei"
      cols="30"
      rows="5"
      (keyup)="handleImeiInputKeyup($event, txtImeiInput.value)"></textarea>
  </div>
  <div class="flex w-full px-2">&nbsp;</div>
  <div class="flex flex-1 w-full px-2">
    <div class="imei-table-wrap">
      <table-custom
        [type]="'search-dialog'"
        [columns]="columns"
        [dataSource]="dataSource"
        (handleDelete)="onDeleteItem($event)"></table-custom>
    </div>
  </div>
  <div
    class="w-full relative flex justify-between px-2 pb-2 items-end"
    style="padding-top: 20px">
    <div class="d-flex justify-end gap-2">
      <div class="btn-responsive btn-add" (click)="onClickSave()">Nhận</div>
      <div class="btn-responsive btn-cancel" (click)="onClickClose()">
        Hủy bỏ
      </div>
    </div>
    <div class="d-flex" style="margin-left: auto">
      <div class="btn-responsive btn-cancel" (click)="onClearAll()">
        Xóa tất cả
      </div>
    </div>
  </div>
</div>
