<div class="dialog-confirm-container bg-white">
  <div class="content">
    <div class="icon">
      <i class="fas fa-exclamation"></i>
    </div>
    <div class="title" [style]="style_css">{{ title }}</div>
  </div>
  <div class="actions">
    <button
      class="btn-common btn-confirm"
      (click)="onClickConfirm()"
      mat-icon-button
      mat-dialog-close
      aria-label="Close">
      Xác nhận
    </button>
    &nbsp;
    <button
      class="btn-common btn-cancel"
      (click)="onClickClose()"
      mat-icon-button
      mat-dialog-close
      aria-label="Close">
      Hủy bỏ
    </button>
  </div>
</div>
