<div>
  <div class="title-content pb-2" *ngIf="title">{{ title }}</div>
  <div class="tab-container">
    <div class="header-tab">
      <div class="d-flex">
        <div
          *ngFor="let tab of computedTabList; index as i"
          (click)="tabChange(i)"
          class="title-tab"
          [class.active]="activatedTab === i">
          {{ tab.label }} <span *ngIf="tab.count !== undefined && tab.count !== null"> ({{ tab.count }})</span>
        </div>
      </div>
    </div>
    <div class="tab-wrapper">
      <div class="d-flex tab-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
