<div>
  <div class="title-content pb-2" *ngIf="title">{{ title }}</div>
  <div class="tab-container">
    <div class="header-tab">
      <div class="d-flex">
        <ng-container *ngFor="let tab of titleList; index as i">
          <div
            (click)="tabChange(i)"
            class="title-tab"
            [class.active]="activatedTab === i">
            {{ tab.label }} <span *ngIf="tab.count !== undefined && tab.count !== null"> ({{ tab.count }})</span>
          </div>
        </ng-container>
        <!-- <div
          *ngFor="let label of titleList; index as i"
          (click)="tabChange(i)"
          class="title-tab"
          [class.active]="activatedTab === i">
          {{ label }}
        </div> -->
      </div>
    </div>
    <div class="tab-wrapper">
      <div class="d-flex tab-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
