<div mat-dialog-content class="customer-create-dialog-container">
  <div class="customer-create-dialog-wrapper">
    <div class="body-wrapper">
      <app-customer-create
        [isComponent]="true"
        [customerName]="customerName"
        [addOrUpdate]="data.addOrUpdate || 'create'"
        [ma_ct]="data.ma_ct || ''"
        (handleCreateSucess)="onCreateSuccess($event)" />
    </div>
    <div class="close-btn" (click)="onCancel()">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div>
