<div
  class="px-1 md:px-2 lg:px-4 flex-1 bg-white position-relative ticket-container">
  <div class="d-flex flex-column gap-2 mt-5 flex-1">
    <div class="title-page pb-2 flex justify-between items-center">
      <h5 class="">{{ title }}</h5>
      <app-voucher-info
        *ngIf="this.mode != 0"
        [entity]="entity"
        class="text-base"
        [voucherId]="ticket.masterInfo.stt_rec" />
    </div>

    <!-- <div class="title-content">{{ getLabel('tlt_content') }}</div> -->
    <div class="box-container mb-3">
      <div class="d-flex gap-2 box">
        <form-input-custom
          class="flex-1"
          [name]="'so_ct'"
          [label]="getLabel('lbl_so_ct')"
          [value]="ticket.masterInfo.so_ct"
          [disabled]="true" />
        <form-input-custom
          class="flex-1"
          [name]="'ngay_ct'"
          [label]="getLabel('lbl_ngay_ct')"
          [value]="ticket.masterInfo.ngay_ct"
          format="datetimeFormat"
          dataType="date"
          [disabled]="true" />
      </div>

      <form-input-custom
        class="box"
        [name]="'ma_kh'"
        [label]="getLabel('lbl_ma_kh')"
        [value]="ticket.masterInfo.ma_kh"
        [tabIndex]="tabIndex.ma_kh"
        [readonly]="readonly"
        [invalid]="invalid"
        (handleChangeValue)="onEnterCustomerCode($event)"
        (handleClickOpenDialog)="openSearchCustomerDialog()"
        (handleUploadImage)="openUploadImage()"
        (handleUViewPhoto)="openImage()" />
      <form-input-custom
        class="box"
        [name]="'ten_kh'"
        [label]="getLabel('lbl_ten_kh')"
        [value]="ticket.masterInfo.ten_kh"
        [disabled]="true"
        (handleClickUploadImage)="openUploadImage()" />
      <form-input-custom
        class="box"
        [name]="'dia_chi'"
        [label]="getLabel('lbl_dia_chi')"
        [value]="ticket.masterInfo.dia_chi"
        [disabled]="true" />
      <form-input-custom
        class="box order-dynamic-3"
        [name]="'ma_nvvc'"
        [label]="getLabel('lbl_ma_nvvc')"
        [tabIndex]="tabIndex.nvvc"
        [readonly]="readonly"
        [value]="ticket.masterInfo.ma_nvvc"
        (handleChangeValue)="onEnterDECode($event)"
        (handleClickOpenDialog)="openSearchDEDialog()" />
      <form-input-custom
        class="box"
        [name]="'ten_nvvc'"
        [label]="getLabel('lbl_ten_nvvc')"
        [value]="ticket.masterInfo.ten_nvvc"
        [disabled]="true" />
      <form-input-custom
        class="box"
        [name]="'ghi_chu'"
        [label]="getLabel('lbl_ghi_chu')"
        [value]="ticket.masterInfo.dien_giai"
        (handleChangeValue)="ticket.masterInfo.dien_giai = $event" />
      <form-input-custom
        class="box"
        [name]="'imei_tra'"
        [label]="getLabel('lbl_imei_tra')"
        *ngIf="!readonly"
        [tabIndex]="tabIndex.imei_return"
        (handleEnterInput)="onEnterImeiReturnCode($event)"
        (handleClickCodeScanner)="onClickReturnCodeScanner()"
        [uploadImage]="true" />
      <form-input-custom
        class="box"
        [name]="'imei_doi'"
        [label]="getLabel('lbl_imei_doi')"
        *ngIf="!readonly"
        [tabIndex]="tabIndex.imei_change"
        (handleEnterInput)="onEnterImeiChangeCode($event)"
        (handleClickCodeScanner)="onClickChangeCodeScanner()"
        [uploadImage]="true" />
      <form-input-custom
        class="box"
        name="ma_vt"
        [label]="getLabel('lbl_checkstock_ma_vt')"
        *ngIf="!readonly"
        [tabIndex]="tabIndex.ma_vt"
        (handleEnterInput)="onEnterMerchandiseCode($event)"
        (handleClickOpenDialog)="openMerchandiseDialog()" />
      <form-select-custom
        class="box"
        [isDisable]="readonly || disableSelectStatus"
        [label]="getLabel('lbl_trang_thai')"
        [options]="statusList"
        optionDes="statusname"
        optionValue="status"
        [value]="ticket.masterInfo.status"
        (handleChangeValue)="ticket.masterInfo.status = $event" />
    </div>

    <tabs-custom>
      <tab-custom label="Hàng đổi" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise_change"
          [columns]="merchandiseColumns"
          (handleDelete)="onRemoveMerchandiseChange($event)" />
      </tab-custom>
      <tab-custom label="Hàng trả" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.merchandise_return"
          [columns]="merchandiseColumns"
          (handleDelete)="onRemoveMerchandiseReturn($event)" />
      </tab-custom>
      <tab-custom label="Đổi kèm dịch vụ" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.service"
          [columns]="serviceColumns" />
      </tab-custom>
      <!-- <tab-custom label="Bảo hành" class="w-100">
        <table-custom
          [readonly]="readonly"
          [dataSource]="ticket.guarantee"
          [columns]="guaranteeColumns" />
      </tab-custom> -->
      <tab-custom label="HĐĐT" class="w-100">
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color">
          {{ getLabel('lbl_tt_xuat_hddt') }}
        </div>
        <e-invoice-info
          [data]="ticket.masterInfo"
          [disabled]="readonly"></e-invoice-info>
        <div
          class="text-medium font-medium flex flex-1 border-b-0.5 border-dashed border-neutrals07_color pt-1 md:pt-3 lg:pt-7">
          {{ getLabel('lbl_hddt_phat_hanh') }}
        </div>
        <e-invoice-tab [data]="eInvoiceInfo"></e-invoice-tab>
      </tab-custom>
    </tabs-custom>

    <div>
      <div class="title-content p-2">{{ getLabel('lbl_tc_don_hang') }}</div>
      <div class="box-container">
        <div class="box d-flex gap-2">
          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [label]="getLabel('lbl_so_luong')"
            [align]="'end'"
            [value]="ticket.masterInfo.t_so_luong" />

          <form-input-custom
            class="flex-1"
            [disabled]="true"
            [align]="'end'"
            [label]="getLabel('lbl_thanh_tien')"
            [value]="ticket.masterInfo.t_tien_nt2"
            format="moneyViewFormat"
            dataType="number" />
        </div>
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_thue')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_thue_nt"
          format="moneyViewFormat"
          dataType="number" />
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_t_tt')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_tt_nt"
          format="moneyViewFormat"
          dataType="number" />
        <div class="box hidden md:flex"></div>
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_t_gg')"
          [align]="'end'"
          [value]="ticket.masterInfo.t_gg"
          format="moneyViewFormat"
          dataType="number" />
        <form-input-custom
          class="box"
          [disabled]="true"
          [label]="getLabel('lbl_diem_qd')"
          [align]="'end'"
          [value]="ticket.masterInfo.diem_qd"
          format="moneyViewFormat"
          dataType="number" />
      </div>
      <div class="d-flex justify-end gap-2 m-3">
        <app-voucher-info
          *ngIf="this.mode != 0"
          [entity]="entity"
          class="text-base"
          [voucherId]="ticket.masterInfo.stt_rec" />
        <div class="btn-responsive btn-in-file">
          <span>{{ getLabel('btnPrint') }}</span>
        </div>
        <div class="btn-responsive btn-cancel" (click)="onCancel()">
          {{ cancelButtonTitle }}
        </div>
        <button class="btn-responsive btn-add"
          [disabled]="isDisabled"
          (click)="onSave()"
          *ngIf="!readonly">
          {{ submitButtonTitle }}
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="isSaving"
    class="position-absolute start-0 top-0 opacity-50"
    style="width: 100%; height: 100%; background-color: rgb(193, 193, 193)">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="d-flex flex-column">
        <div class="spinner-border text-dark align-self-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p>Đang lưu</p>
      </div>
    </div>
  </div>
</div>
