<div class="dialog bg-white">
    <div class="">
        <div mat-dialog-title>
            <div class="title-content">
                {{ getLabel('lbl_hang_thu_cu') }}
              </div>
      </div>
    <div mat-dialog-content>
        <div class="d-flex gap-3">
            <form-input-custom
            class=""
            [name]="''"
            [label]="'Label1'"
            [value]="''"/>

            <form-input-custom
            class=""
            [name]="''"
            [label]="'Label2'"
            [value]="''"/>

            <form-input-custom
            class=""
            [name]="''"
            [label]="'Label3'"
            [value]="''"/>     
        </div>
    <div mat-dialog-actions class="gap-3 justify-end ml-5">
        <div class="d-flex justify-end gap-2 m-2">
          <div class="btn-responsive btn-cancel" (click)="onCancel()">Hủy bỏ</div>
          <div class="btn-responsive btn-add" >Lưu</div>
        </div>
      </div>
        
    </div>
</div>
